CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Ninja
.ninja_deps
.ninja_log

# Build files
build
.cache
.vscode

dcrp-yt-setup.msi
dcrp-yt-setup.ps1
dcrp-yt-setup.wixpdb

extension/web-ext-artifacts
dcrp-yt.xpi
.vscode

# REG ADD "HKCU\Software\Mozilla\NativeMessagingHosts\dcrp" /ve /t REG_SZ /d "C:\Users\sirzi\Desktop\dcrp-yt\dcrp-win.json" /f