<?define name = "dcrp-yt"?>
<?define exe = "dcrp.exe"?>
<?define path = ".\build\Release"?>
<?define discord = ".\src\discord\lib\x86_64\discord_game_sdk.dll"?>
<?define version = "1.0.3"?>
<?define publisher = "martynasmuizys@github.com"?>
<?define guid = "bccb2303-bed8-4abe-ab74-59481ad6fcc8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
        <Package Name="$(var.name)" Manufacturer="$(var.publisher)" Version="$(var.version)"
                UpgradeCode="$(var.guid)" InstallerVersion="500" Scope="perMachine">

                <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

                <Feature Id="InstallFeature" Title="Install Feature">
                        <ComponentRef Id="file" />
                </Feature>

                <StandardDirectory Id="ProgramFiles64Folder">
                                <Directory Id="INSTALLLOCATION" Name="dcrp-yt">
                                        <Component Id="file" DiskId="1" Guid="$(var.guid)">
                                                <File Id="executable" Name="$(var.exe)"
                                                        Source="$(var.path)\$(var.exe)" KeyPath="yes"/>
                                                <File Id="dll" Name="discord_game_sdk.dll"
                                                        Source="$(var.discord)" />
                                                <File Id="config" Name="dcrp.json"
                                                        Source=".\dcrp.json"/>
                                                <RegistryKey Root="HKCU" Key="Software\Mozilla\NativeMessagingHosts\dcrp" ForceCreateOnInstall="yes" >
                                                        <RegistryValue Type="string" Value="[INSTALLLOCATION]dcrp.json"/>
                                                </RegistryKey>
                                        </Component>
                        </Directory>
                </StandardDirectory>
        </Package>
</Wix>